#run_task{
    display:block;
    margin: auto;
}

label{
    font-size:10px;
    display:inline-block;
}

#input,#output{
    display:inline-block;
    width:49%;
    margin-top:30px;
    border-right:1px solid black;
    vertical-align:top;
}
